@media only screen and (min-width: 1601px) {

        body {
            font-family: Times New Roman, sans-serif;
            line-height: 1.6;
            background-color: lightblue;
            margin: 0;
            padding: 0;
            border: 1px solid black;
        }

        .titulo {
            display: flex;
            justify-content: center;
            align-items: center;
            color: darkblue;
            font-size: x-large;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            background: lightblue;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            color: darkblue;
            border: 1px solid black;
        }

        h1 {
            display: flex;
            justify-content: center;
            color: darkblue;
        }

        .question {
            margin-bottom: 20px;
        }

        .question p {
            font-weight: bold;
        }

        .options label {
            display: block;
            margin-bottom: 10px;
            cursor: pointer;
        }

        .options input {
            margin-right: 10px;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background: #218838;
        }

        .result {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background: #e9ecef;
            display: none;
        }

}
